@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Inter:wght@300;400;500&display=swap');

:root{

    --bg:#0d0d0d;
    --bg2:#141414;

    --gold:#c89b4a;
    --gold-light:#e4c06d;

    --text:#ececec;
    --gray:#9b9b9b;

    --line:#3a2d17;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:var(--bg);
    color:var(--text);

    font-family:Inter,sans-serif;
}

a{
    color:inherit;
    text-decoration:none;
}

header{

    height:70px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 60px;

    border-bottom:1px solid var(--line);

    background:#090909;
}

.logo{

    color:var(--gold);

    font-size:30px;

    font-family:"Cormorant Garamond",serif;

    letter-spacing:2px;
}

nav{

    display:flex;
    gap:45px;
}

nav a{

    color:#bbb;

    transition:.3s;
}

nav a:hover{

    color:var(--gold);
}

.github-btn{

    border:1px solid var(--gold);

    color:var(--gold);

    padding:12px 24px;

    transition:.3s;
}

.github-btn:hover{

    background:var(--gold);

    color:#111;
}

.container{

    display:grid;

    grid-template-columns:340px 1fr;

    min-height:calc(100vh - 70px);
}

.sidebar{

    padding:60px 40px;

    border-right:1px solid var(--line);
}

.logo-box{

    height:250px;

    border:2px solid var(--gold);

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:55px;

    font-family:"Cormorant Garamond",serif;

    color:var(--gold);

    margin
